@charset "UTF-8";

body{
    background-color: gray;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    font-size: 30px;
}

.calc{
    width: 400px;
    height: 650px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

.obj{
    margin-top: 25%;
}


